resources:
- name: qwiklabs-prewarm-instance
  type: instance.py
  properties:
    aws_access_key_id: {{ properties['aws_access_key_id'] }}
    aws_secret_access_key:  {{ properties['aws_secret_access_key'] }}
    build_prod: False
    gc_username_1: {{ properties['gc_username_1'] }}
    gc_username_2: {{ properties['gc_username_2'] }}
    gc_username_3: {{ properties['gc_username_3'] }}
    gc_username_4: {{ properties['gc_username_4'] }}
    prewarm_type: {{ properties['prewarm_type'] }}
    zone: {{ properties["zone"] }}

- name: prewarm-runtime-config
  type: runtimeconfig.v1beta1.config
  properties:
    config: prewarm-runtime-config

- name: qwiklabs-prewarm-instance-waiter
  type: runtimeconfig.v1beta1.waiter
  properties:
    parent: $(ref.prewarm-runtime-config.name)
    waiter: qwiklabs-prewarm-instance-waiter
    timeout: 5400s
    success:
      cardinality:
        path: /success
        number: 1
    failure:
      cardinality:
        path: /failure
        number: 1
  metadata:
    dependsOn:
    - qwiklabs-prewarm-instance
